html, body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Arial';
  text-align: center;
}

svg {
  border-style: solid;
  border-width: 1px;
  border-color: silver;
}

.counties {
  fill: none;
}

.states, .state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 0.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}


div.tooltip {
  position: absolute;
  padding: 10px;
  font: 12px Arial;
  background: rgba(255, 255, 204, 0.9);
  box-shadow: 1px 1px 10px rgba(128, 128, 128, 0.6);
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  border-left-width: 10px;
  border-left-color: saddlebrown;
  border-left-style: solid;
}


#title {
  font-size: 3.5rem;
}

#description {
  text-align: center;
}

#source {
  align-self: flex-end;
  margin-top: 1rem;
}

a {
  text-decoration: none;
}
